/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
.container {
  padding: 50px;
  display: flex;
  justify-Content: center;
  align-Items: center
}

.centerChildren {
  display: flex;
  flex-Direction: column;
  justify-Content: center;
  align-Items: center
}

.txt {
  text-align: center;
}